.header-container {
    display: flex;
    justify-content: space-between;
  }
  
  .spacer {
    flex: 1;
  } 

  .title-content{
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: pre-line;
  }